<%- include('./partials/header') %>
    <link href="https://fonts.googleapis.com/css?family=Karla:400,700" rel="stylesheet">
    <link rel="stylesheet" href="./allUsers.css" >
 
<body>
    <!-- Header -->

<section class="section-header bg-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-center">
          <h1 class="text-capitalize mb-4 font-lg text-white"><%= title %></h1>
        </div>
      </div>
    </div>
  </div>
</section>

    <main>
        <section class="section img-gallery border-top">
	<div class="container">
		<div class="row mb-5 align-items-center">
			<div class="col-lg-4 text-center">
				<h2 class="mt-3 mb-4">Lets check out some societies</h2>
			</div>
			<div class="col-lg-8">
				<p>View all societies here</p>
			</div>
		</div>

		<div class="row">
            <% var i = 0 ; %>
            <% Users.forEach((society)=>{ %>
            <% console.log(society) %>
                <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="<%=i*300%>">
                <% if(society.photo != undefined){%>
                    <% var posterUrl = society.photo %>
                    <% posterUrl = posterUrl.slice(6,posterUrl.length) %>	
                <%}else{ %> 
                    <% var posterUrl = null %>	
                <%} %>
                    <a  href="./dashboardsociety-<%=society.id%>">
                        <img src="./<%=posterUrl%>" style="margin-top : -28px" alt="Poster" class="img-fluid">
                    </a>
                    <p style="font-size : 1em"><%=society.username%>  <br>  Joined On : <%= society.joinedOn.toString().slice(0,15) %> <br> 
                  
                    </p>
                </div>
                <% i = i + 1 %>
            <% }) %>
		</div>
	</div>
</section>
</main>
<%- include('./partials/footer.ejs') %>
